transformers 
wikipedia 
newspaper3k 
GoogleNews 
pyvis
notebook
torch
ipywidgets
pandas
networkx
matplotlib
langchain
langchain_deepseek
langchain_community 
langchain_core
langgraph
nx-arangodb
uvicorn
fastapi[standard]
wikipedia-api==0.6.0

