@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Custom scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(249 115 22) transparent;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(249 115 22);
  border-radius: 20px;
}